<partial name="Asentus/Parallax"/>

<div class="text-center">
    <h1 class="display-4">Я любимый</h1>
    <p>
        Часть страницы готова. Тут почти обычный html
    </p>
    <p>
        ПО сути  в куче сайтов - заголовок и подвал одинаковые
    </p>
</div>